<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">วันเวลาขอใช้บริการ</th>
            <th scope="col">เลขที่เอกสาร</th>
            <th scope="col">แผนก</th>
            <th scope="col">ระดับ</th>
            <th scope="col">ประเภทรถ</th>
            <th scope="col">ทะเบียน</th>
            <th scope="col">พนักงานขับรถ</th>
            <th scope="col">สถานะ</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>23/09/2018 10:00</td>
            <td>REQ-C-1809001</td>
            <td>การตลาด</td>
            <td>B</td>
            <td>เก๋ง</td>
            <td>ญผ8518</td>
            <td>นายคนขับ ระวังภัย</td>
            <td>อนุมัติ</td>
            <td>
              <button type="button" class="btn btn-success">อนุมัติ</button>
              <button type="button" class="btn btn-danger">ปฏิเสธ</button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>23/09/2018 10:00</td>
            <td>REQ-C-1809001</td>
            <td>การตลาด</td>
            <td>B</td>
            <td>เก๋ง</td>
            <td>ญผ8518</td>
            <td>นายคนขับ ระวังภัย</td>
            <td>อนุมัติ</td>
            <td>
              <button type="button" class="btn btn-success">อนุมัติ</button>
              <button type="button" class="btn btn-danger">ปฏิเสธ</button>
            </td>
          </tr>

          <tr>
            <th scope="row">3</th>
            <td>23/09/2018 10:00</td>
            <td>REQ-C-1809001</td>
            <td>การตลาด</td>
            <td>B</td>
            <td>เก๋ง</td>
            <td>ญผ8518</td>
            <td>นายคนขับ ระวังภัย</td>
            <td>อนุมัติ</td>
            <td>
              <button type="button" class="btn btn-success">อนุมัติ</button>
              <button type="button" class="btn btn-danger">ปฏิเสธ</button>
            </td>
          </tr>


        </tbody>
      </table>
    </div>
  </div>
</div>