<div class="animated fadeIn">
    <div class="row">
      <div  class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/logo-symbol.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">HEADER</h5>
            <p class="card-text">DESCRIPTION</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>