<div class="animated fadeIn">
  <div class="row">
    <!-- <div class="col-md-12 mb-1">
      <a href="javascript:void(0);" class="btn btn-primary card-head-btn float-right d-flex justify-content-center align-items-center"
        (click)="onNewCompetency()">
        <i class="fa fa-plus"></i>
      </a>
    </div> -->
    <div class="col-md-12">
      <div class="card card-accent-primary">
        <div class="card-header text-center">
          <strong>
            <h3>ข้อมูลรถยนต์</h3>
          </strong>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-md-12">
              <div class="form-group row ml-3">
                <label class="col-md-2 col-form-label" for="vehicleCode" style="text-align: right;">ทะเบียนรถ</label>
                <div class="col-md-4">
                  <input type="text" id="vehicleCode" name="vehicleCode" class="form-control" [(ngModel)]="mCriteria.vehicleCode"
                    placeholder="">
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row ml-3">
                <label class="col-md-2 col-form-label" for="vehicleBrand" style="text-align: right;">ยี่ห้อ</label>
                <div class="col-md-4">
                  <input type="text" id="vehicleBrand" name="vehicleBrand" [(ngModel)]="mCriteria.vehicleBrand" class="form-control"
                    placeholder="">
                </div>
                <label class="col-md-2 col-form-label" for="vehicleModel" style="text-align: right;">รุ่น</label>
                <div class="col-md-4">
                  <input type="text" id="vehicleModel" name="vehicleModel" [(ngModel)]="mCriteria.vehicleModel" class="form-control"
                    placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row ml-3">
                <label class="col-md-2 col-form-label" for="vehicleEngine" style="text-align: right;">เครื่องยนต์</label>
                <div class="col-md-4">
                  <input type="text" id="vehicleEngine" name="vehicleEngine" [(ngModel)]="mCriteria.vehicleEngine"
                    class="form-control" placeholder="">
                </div>
                <label class="col-md-2 col-form-label" for="vehicleFuelType" style="text-align: right;">เชื้อเพลิง</label>
                <div class="col-md-4">
                  <input type="text" id="vehicleFuelType" name="vehicleFuelType" [(ngModel)]="mCriteria.vehicleFuelType"
                    class="form-control" placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row ml-3">
                <label class="col-md-2 col-form-label" for="vehicleDate" style="text-align: right;">วันที่ซื้อ</label>
                <div class="col-md-4">
                  <input type="text" id="vehicleDate" name="vehicleDate" [(ngModel)]="mCriteria.vehicleDate" class="form-control"
                    placeholder="">
                </div>
                <label class="col-md-2 col-form-label" for="vehicleCost" style="text-align: right;">มูลค่าที่ซื้อ</label>
                <div class="col-md-4">
                  <input type="text" id="vehicleCost" name="vehicleCost" [(ngModel)]="mCriteria.vehicleCost" class="form-control"
                    placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row ml-3">
                <label class="col-md-2 col-form-label" for="vehicleTypeCode" style="text-align: right;">ประเภทรถ</label>
                <div class="col-md-4">
                  <ng-select [items]="items.carTypes" placeholder="ประเภทรถ" id="carType" name="carType" bindLabel="carTypeName"
                    [(ngModel)]="mCriteria.carType"  >
                  </ng-select>
                </div>

                <label class="col-md-2 col-form-label" for="vehicleAsset" style="text-align: right;">ทะเบียนทรัพย์สิน</label>
                <div class="col-md-4">
                  <input type="text" id="vehicleAsset" name="vehicleAsset" [(ngModel)]="mCriteria.vehicleAsset" class="form-control"
                    placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row ml-3">
                <label class="col-md-2 col-form-label" for="vehicleInsurance" style="text-align: right;">บริษัทประกันภัย</label>
                <div class="col-md-4">
                  <input type="text" id="vehicleInsurance" name="vehicleInsurance" [(ngModel)]="mCriteria.vehicleInsurance"
                    class="form-control" placeholder="">
                </div>
                <label class="col-md-2 col-form-label" for="vehicleInsuranceType" style="text-align: right;">ประเภทประกันภัย</label>
                <div class="col-md-4">
                  <input type="text" id="vehicleInsuranceType" name="vehicleInsuranceType" [(ngModel)]="mCriteria.vehicleInsuranceType"
                    class="form-control" placeholder="">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <button class="btn btn-primary float-right" type="submit" (click)="onSubmit()">
            <i class="fa fa-save"></i> SAVE</button>
        </div>
      </div>
    </div>
  </div>
</div>
