<div class="modal-header">
  <h4 class="modal-title pull-left">เพิ่มคำขอ</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12 form-group">
      <app-place [(selectItem)]="criteria.place"></app-place>
    </div>
    </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <label for="location">ที่ตั้ง</label>
      <input class="form-control" id="location" placeholder="ที่ตั้ง" readonly="'true'" type="text" name="location"
        [(ngModel)]="criteria.place.locationName" #location="ngModel" required>
      <div class="invalid-feedback" [hidden]="location.valid || location.pristine">
        Location is require.
      </div>
    </div>
    <div class="col-md-6 form-group">
      <label for="province">จังหวัด</label>
      <input class="form-control" id="province" placeholder="จังหวัด" readonly="'true'" type="text" name="province"
        [(ngModel)]="criteria.place.province" #province="ngModel">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 form-group">
      <label for="contactPerson">ผู้ติดต่อ/ผู้รับงาน</label>
      <input class="form-control" id="contactPerson" placeholder="ผู้ติดต่อ/ผู้รับงาน" type="text" name="contactPerson"
        [(ngModel)]="criteria.contactName" #contactPerson="ngModel" required>
      <div class="invalid-feedback" [hidden]="contactPerson.valid || contactPerson.pristine">
        Contact Person is require.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 form-group">
      <label for="requestLineDesc">รายละเอียด</label>
      <textarea class="form-control" id="requestLineDesc" placeholder="รายละเอียด" name="requestLineDesc" [(ngModel)]="criteria.requestLineDescription"
        #remark="ngModel"></textarea>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="OnSubmit()">บันทึก</button>
</div>
