<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-accent-primary">
        <div class="card-header text-center">
          <strong>
            <h3>ข้อมูลรายการรถยนต์</h3>
          </strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="mb-0" for="activityItemName">เลขที่เอกสาร</label>
                <input class="form-control" id="activityItemName" placeholder="" [(ngModel)]="mCriteria.docNo" type="text" name="activityItemName" id="activityItemName">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="mb-0" for="useFlag">สถานะ</label>
                <select class="form-control" id="useFlag" placeholder="Useflag" name="useFlag" id="useFlag"  [(ngModel)]="mCriteria.status">
                  <option *ngFor="let op of options" value='{{op.key}}'>{{op.text}}</option>

                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="mb-0" for="attn">วันที่เอกสาร</label>
                <input class="form-control" type="date" id="startdate" name="startdate" pattern="\d{1,2}/\d{1,2}/\d{4}"  [(ngModel)]="mCriteria.docDate"/>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary float-right" type="submit" (click)="onSearch()">
            <i class="fa fa-search"></i> ค้นหา</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-accent-primary">
        <div class="card-header text-center">
        </div>
        <div class="card-body">
          <div style="overflow: auto;">
            <table class="table table-hover mb-0" style="width: 100%;font-size:13px;">
              <thead class="thead-light">
                <tr class="text-center">
                  <th style="vertical-align:middle;">#</th>
                  <th style="vertical-align:middle;">ทะเบียนรถ</th>
                  <th style="vertical-align:middle;">ยี่ห้อ</th>
                  <th style="vertical-align:middle;">รุ่น</th>
                  <th style="vertical-align:middle;">ปี</th>
                  <th style="vertical-align:middle;">ทะเบียนทรัพย์สิน</th>
                  <th style="vertical-align:middle;">สถานะ</th>
                  <th style="vertical-align:middle;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mData.vehicles; let i = index" >
                  <th class="text-center">{{i+1}}</th>
                  <td class="text-center">{{item.vehicleCode}}</td>
                  <td class="text-center">{{item.vehicleBrand}}</td>
                  <td class="text-center">{{item.vehicleModel}}</td>
                  <td class="text-center">{{item.vehicleYear}}</td>
                  <td class="text-center">{{item.vehicleAsset}}</td>
                  <td class="text-center">
                    <p *ngIf="item.status === 1">รออนุมัติ</p>
                    <p *ngIf="item.status === 2">ปิดงาน</p>
                    <p *ngIf="item.status === 3">ยกเลิก</p>
                  </td>
                  <td class="text-center">
                    <button class="btn btn-info btn-sm" type="submit" tooltip="ดูข้อมูล" placement="top" (click)="onView(item)">
                      <i class="fa fa-search"></i>
                    </button>
                    <button class="btn btn-primary btn-sm" type="submit" tooltip="บันทึกเอกสาร" placement="top" (click)="onNewDocument()">
                      <i class="fa fa-archive"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
