<div class="animated fadeIn">
  <div class="row">
    <!-- <div class="col-md-12 mb-1">
      <a href="javascript:void(0);" class="btn btn-primary card-head-btn float-right d-flex justify-content-center align-items-center"
        (click)="onNewCompetency()">
        <i class="fa fa-plus"></i>
      </a>
    </div> -->
    <div class="col-md-12">
      <div class="card card-accent-primary">
        <div class="card-header text-center">
          <strong>
            <h3>ให้คะแนนใบขอใช้บริการรถยนต์</h3>
          </strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <label class="mb-3" for="competencyName" style="text-decoration: underline;">ความพึงพอใจในการบริการ</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row ml-3">
                <label class="col-md-5 col-form-label" for="attn" style="text-align: right;">คะแนนความพึงพอใจ</label>
                <div class="col-md-7">
                  <input type="text" id="SINO" name="SINO" class="form-control" placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row ml-4">
                <label class="col-md-5 col-form-label" for="attn" style="text-align: right;">ข้อเสนอแนะ</label>
                <div class="col-md-7">
                  <input type="text" id="SINO" name="SINO" class="form-control" placeholder="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary float-right" type="submit" (click)="onSubmit()">
            <i class="fa fa-save"></i> SAVE</button>
        </div>
      </div>
    </div>
  </div>