<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-accent-primary">
        <div class="card-header text-center">
          ประวัติการบันทึกรถเข้า-ออก
        </div>
        <div class="card-body">
          <div style="overflow: auto;">
            <table class="table table-hover mb-0" style="width: 100%;font-size:13px;">
              <thead class="thead-light">
                <tr class="text-center">
                  <th style="vertical-align:middle;">#</th>
                  <th style="vertical-align:middle;">วันที่นำรถออก</th>
                  <th style="vertical-align:middle;">ทะเบียนรถ</th>
                  <th style="vertical-align:middle;">พนักงานขับรถ</th>
                  <th style="vertical-align:middle;">เลขไมล์ออก</th>
                  <th style="vertical-align:middle;">เวลาออก</th>
                  <th style="vertical-align:middle;">เลขไมล์เข้า</th>
                  <th style="vertical-align:middle;">เวลาเข้า</th>
                  <th style="vertical-align:middle;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mSearch.searchs;let i =index">
                  <th class="text-center">{{i+1}}</th>
                  <td class="text-center">{{item.startDate | date:'dd/MM/yyyy HH:mm'}}</td>
                  <td class="text-center"><img width="120px" src="picturecar/{{item.vehicleCode}}.jpg"><br/>{{item.vehicleCode}}</td>
                  <td class="text-center"><img width="120px" src="picturepeople/{{item.driverCode}}.jpg"><br/>{{item.driverName}}<br/>{{item.driverTel}}</td>
                  <td class="text-right">{{item.milesOut}}</td>
                  <td class="text-center">{{item.vehicleTimeOut | date:'dd/MM/yyyy HH:mm'}}</td>
                  <td class="text-right">{{item.milesIn}}</td>
                  <td class="text-center">{{item.vehicleTimeIn | date:'dd/MM/yyyy HH:mm'}}</td>
                  <td class="text-center">
                    <button class="btn btn-primary btn-sm" *ngIf="item.status == 2"  type="submit" tooltip="รถออก" placement="top" (click)="CarsOutOpen(item)">
                      <i class="fa fa-sign-out-alt"></i>
                    </button>
                    <button class="btn btn-primary btn-sm" *ngIf="item.status == 3"  type="submit" tooltip="รถเข้า" placement="top" (click)="CarsInOpen(item)">
                      <i class="fa fa-sign-in-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
