<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-accent-primary">
        <div class="card-header text-center">
          <strong>
            <h3>ข้อมูลใบมอบหมายงาน</h3>
          </strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="mb-0" for="docNo">เลขที่เอกสาร</label>
                <input class="form-control" id="docNo" [(ngModel)]="criteria.documentNo" placeholder="เลขที่เอกสาร"
                  type="text" name="docNo">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="mb-0" for="useFlag">สถานะ</label>
                <select class="form-control" id="useFlag" placeholder="Useflag" [(ngModel)]="criteria.status" name="useFlag">
                  <option *ngFor="let item of mStatus" value="{{item.value}}">{{item.text}}</option>

                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="mb-0" for="startDate">วันที่เอกสาร</label>
                <input class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="วันที่เอกสาร"
                  id="startDate" name="startDate" [(ngModel)]="criteria.documentDate">
                <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary float-right" type="submit" (click)="onSearch()">
            <i class="fa fa-search"></i> ค้นหา</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-accent-primary">
        <div class="card-header text-center">
        </div>
        <div class="card-body">
          <div style="overflow: auto;">
            <table class="table table-hover mb-0" style="width: 100%;font-size:13px;">
              <thead class="thead-light">
                <tr class="text-center">
                  <th style="vertical-align:middle;">#</th>
                  <th style="vertical-align:middle;">สถานะ</th>
                  <th style="vertical-align:middle;">วันที่ขอใช้บริการ</th>
                  <th style="vertical-align:middle;">เลขที่เอกสาร</th>
                  <th style="vertical-align:middle;">วันที่เอกสาร</th>
                  <th style="vertical-align:middle;">แผนก</th>
                  <th style="vertical-align:middle;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mSearch.searchs;let i =index">
                  <th class="text-center">{{i+1}}</th>
                  <td class="text-center">
                    <p *ngIf="item.status === 1">รออนุมัติ</p>
                    <p *ngIf="item.status === 2">อนุมัติ</p>
                    <p *ngIf="item.status === 7">ยกเลิก</p>
                  </td>
                  <td class="text-center">{{item.dueDate | date:'dd/MM/yyyy HH:mm'}}</td>
                  <td>{{item.documentNo}}</td>
                  <td class="text-center">{{item.documentDate | date:'dd/MM/yyyy HH:mm'}}</td>
                  <td>{{item.department}}</td>
                  <td class="text-center">
                    <button class="btn btn-primary btn-sm" type="button" tooltip="ดูข้อมูล" placement="top" (click)="onView(item)">
                      <i class="fa fa-search"></i>
                    </button>
                    <button class="btn btn-primary btn-sm" *ngIf="item.status === 1" type="button" tooltip="แก้ไขข้อมูล"
                      placement="top" (click)="onEdit(item)">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-primary btn-sm" *ngIf="item.status === 1 && mView.approve" type="button"
                      tooltip="อนุมัติ" placement="top" (click)="onApprove(item)">
                      <i class="fas fa-file-signature"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
