<div class="animated fadeIn mb-15">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="animated fadeInRightShort col-md-12">
          <table class="table table-responsive-sm table-hover table-outline mb-0" style="background-color:white;">
            <thead class="thead-light">
              <tr>
                <th style="width:40%">Simple Name</th>
                <th style="width:15%" class="text-center">Status</th>
                <th style="width:20%" class="text-center">Activity</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-head-tb" *ngFor="let item of mResults">
                <td>
                  <div>{{item.simpleName}}</div>
                </td>
                <td class="text-center">
                  <span class="badge badge-success" *ngIf="item.useFlag">Active</span>
                  <span class="badge badge-danger" *ngIf="!item.useFlag">UnActive</span>
                </td>
                <td class="text-center">
                  <a class="card-header-action-link  float-right" href="javascript:void(0);" (click)="onEdit(item);">
                    <i class="fa fa-pencil-square-o"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
              <div class="col-xs-12 col-12">
                <pagination class="dataTables_paginate paging_simple_numbers" [totalItems]="66" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
