<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-accent-primary">
        <div class="card-header text-center">
          <strong>
            <h3>ประวัติใบมอบหมายงาน</h3>
          </strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="mb-0" for="activityItemName">เลขที่เอกสาร</label>
                <input class="form-control" id="activityItemName" placeholder="" type="text" name="activityItemName" id="activityItemName">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="mb-0" for="useFlag">สถานะ</label>
                <select class="form-control" id="useFlag" placeholder="Useflag" name="useFlag" id="useFlag">
                  <option value="-1">ทั้งหมด</option>
                  <option value="1">รออนุมัติ</option>
                  <option value="2">ปิดงาน</option>
                  <option value="0">ยกเลิก</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="mb-0" for="attn">วันที่เอกสาร</label>
                <input class="form-control" type="date" id="startdate" name="startdate" pattern="\d{1,2}/\d{1,2}/\d{4}" />
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary float-right" type="submit" (click)="onSearch()">
            <i class="fa fa-search"></i> ค้นหา</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-accent-primary">
        <div class="card-header text-center">
        </div>
        <div class="card-body">
          <div style="overflow: auto;">
            <table class="table table-hover mb-0" style="width: 100%;font-size:13px;">
              <thead class="thead-light">
                <tr class="text-center">
                  <th style="vertical-align:middle;">#</th>
                  <th style="vertical-align:middle;">วันเวลาขอใช้บริการ</th>
                  <th style="vertical-align:middle;">เลขที่เอกสาร</th>
                  <th style="vertical-align:middle;">วันที่เอกสาร</th>
                  <th style="vertical-align:middle;">แผนก</th>
                  <th style="vertical-align:middle;">เพื่อใช้ในการ</th>
                  <th style="vertical-align:middle;">สถานที่ในการเดินทาง</th>
                  <th style="vertical-align:middle;">สถานะ</th>
                  <th style="vertical-align:middle;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="text-center">1</th>
                  <td>01/06/2018 09:30:00</td>
                  <td>A180600010</td>
                  <td>01/06/2018 09:30:00</td>
                  <td>220000 - สำนักงานกรรมการบริหาร</td>
                  <td>ติดต่อลูกค้า</td>
                  <td>PANDORA</td>
                  <td>รออนุมัติ</td>
                  <td class="text-center">
                    <button class="btn btn-info btn-sm" type="submit" tooltip="ดูข้อมูล" placement="top" (click)="onView(item)">
                      <i class="fa fa-search"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <th class="text-center">2</th>
                  <td>01/06/2018 09:30:00</td>
                  <td>A180600010</td>
                  <td>01/06/2018 09:30:00</td>
                  <td>220000 - สำนักงานกรรมการบริหาร</td>
                  <td>ติดต่อลูกค้า</td>
                  <td>PANDORA</td>
                  <td>ปิดงาน</td>
                  <td class="text-center">
                    <button class="btn btn-info btn-sm" type="submit" tooltip="ดูข้อมูล" placement="top" (click)="onView(item)">
                      <i class="fa fa-search"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <th class="text-center">3</th>
                  <td>01/06/2018 09:30:00</td>
                  <td>A180600011</td>
                  <td>01/06/2018 09:30:00</td>
                  <td>220000 - สำนักงานกรรมการบริหาร</td>
                  <td>ติดต่อลูกค้า</td>
                  <td>PANDORA</td>
                  <td>ยกเลิก</td>
                  <td class="text-center">
                    <button class="btn btn-info btn-sm" type="submit" tooltip="ดูข้อมูล" placement="top" (click)="onView(item)">
                      <i class="fa fa-search"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                    <th class="text-center">1</th>
                    <td>01/06/2018 09:30:00</td>
                    <td>A180600010</td>
                    <td>01/06/2018 09:30:00</td>
                    <td>220000 - สำนักงานกรรมการบริหาร</td>
                    <td>ติดต่อลูกค้า</td>
                    <td>PANDORA</td>
                    <td>อนุมัติ</td>
                    <td class="text-center">
                      <button class="btn btn-info btn-sm" type="submit" tooltip="ดูข้อมูล" placement="top" (click)="onView(item)">
                        <i class="fa fa-search"></i>
                      </button>
                      <button class="btn btn-success btn-sm" type="submit" tooltip="บันทึกค่าแรง" placement="top" (click)="onpay()">
                          <i class="fa fa-money"></i>
                        </button>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>