<div class="modal-header">
  <h4 class="modal-title pull-left">บันทึกเวลาออก</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6 text-center" style="display:block">
      <img width="180px" src="picturecar/{{item.vehicleCode}}.jpg"><br />{{item.vehicleCode}}
    </div>
    <div class="col-md-6 text-center" style="display:block">
      <img width="120px" src="picturepeople/{{item.driverCode}}.jpg"><br />{{item.driverName}}<br />{{item.driverTel}}</div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label class="mb-0" for="vehicleCode">ทะเบียน</label>
        <input class="form-control" id="vehicleCode" readonly="'true'" [(ngModel)]="item.vehicleCode" placeholder="ทะเบียน" type="text"
          name="vehicleCode">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="mb-0" for="driverCode">รหัสพนักงาน</label>
        <input class="form-control" id="driverCode"  readonly="'true'" [(ngModel)]="item.driverCode" placeholder="รหัสพนักงาน" type="text"
          name="driverCode">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="mb-0" for="milesOut">เลขไมล์ออก</label>
        <input class="form-control text-right" [(ngModel)]="item.milesOut" id="milesOut" placeholder="เลขไมล์ออก" type="number"
          name="milesOut">
      </div>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label class="mb-0" for="activityItemName">ชื่อพนักงาน</label>
        <input class="form-control" [(ngModel)]="item.driverName"  id="employeeName" placeholder="" type="text" name="employeeName" >
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="mb-0" for="activityItemName">เลขที่เอกสาร</label>
        <input class="form-control" [(ngModel)]="item.no"  id="docNo" placeholder="" type="text" name="docNo" id="docNo">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <timepicker [(ngModel)]="item.dateOut" [showMeridian]="false" [minuteStep]="1"></timepicker>
      </div>
    </div>
  </div>
-->
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onSubmit()">บันทึก</button>
</div>
