<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-1">
      <a href="javascript:void(0);" class="btn btn-primary card-head-btn float-right d-flex justify-content-center align-items-center"
        (click)="onNewUser()">
        <i class="fa fa-plus"></i>
      </a>
    </div>
    <div class="col-md-12">
      <div class="card card-accent-primary">
        <div class="card-header text-center">
          <strong>
            <h3>ข้อมูลผู้ใช้ระบบ</h3>
          </strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="mb-0" for="forCode">รหัส</label>
                <input class="form-control" id="forCode" placeholder="รหัส" [(ngModel)]="criteria.forUseCode" type="text"
                  name="forCode">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="mb-0" for="mFirstName">ชื่อ</label>
                <input class="form-control" id="mFirstName" placeholder="ชื่อ" [(ngModel)]="criteria.firstName" type="text"
                  name="mFirstName">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="mb-0" for="mLastName">นามสกุล</label>
                <input class="form-control" id="mLastName" placeholder="นามสกุล" [(ngModel)]="criteria.lastName" type="text"
                  name="mLastName">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="mb-0" for="mDepartment">แผนก</label>
                <input class="form-control" id="mDepartment" placeholder="แผนก" [(ngModel)]="criteria.department" type="text"
                  name="mDepartment">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="mb-0" for="mSection">ฝ่าย</label>
                <input class="form-control" id="mSection" placeholder="ฝ่าย" [(ngModel)]="criteria.section" type="text"
                  name="mSection">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="mb-0" for="useFlag">สถานะ</label>
                <select class="form-control" id="useFlag" placeholder="Useflag" [(ngModel)]="criteria.status" name="useFlag">
                  <option *ngFor="let item of mStatus" value="{{item.value}}">{{item.text}}</option>
                </select>
              </div>
            </div>
          </div>

        </div>
        <div class="card-footer">
          <button class="btn btn-primary float-right" type="submit" (click)="onSearch()">
            <i class="fa fa-search"></i> ค้นหา</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-accent-primary">
        <div class="card-header text-center">
        </div>
        <div class="card-body">
          <div style="overflow: auto;">
            <table class="table table-hover mb-0" style="width: 100%;font-size:13px;">
              <thead class="thead-light">
                <tr class="text-center">
                  <th style="vertical-align:middle;">#</th>
                  <th style="vertical-align:middle;">รหัส</th>
                  <th style="vertical-align:middle;">ชื่อ</th>
                  <th style="vertical-align:middle;">ตำแหน่ง</th>
                  <th style="vertical-align:middle;">แผนก</th>
                  <th style="vertical-align:middle;">ฝ่าย</th>
                  <th style="vertical-align:middle;">เบอร์โทรศัพท์</th>
                  <th style="vertical-align:middle;">เบอร์มือถือ</th>
                  <th style="vertical-align:middle;">ผู้อนุมัติ</th>
                  <th style="vertical-align:middle;">สถานะ</th>
                  <th style="vertical-align:middle;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mSearch.users;let i =index">
                  <th class="text-center">{{i+1}}</th>
                  <td class="text-center">{{item.userCode}}</td>
                  <td>{{item.userTitle}} {{item.firstName}} {{item.lastName}}</td>
                  <td class="text-center">{{item.position}}</td>
                  <td class="text-center">{{item.departmentCode}} - {{item.department}}</td>
                  <td class="text-center">{{item.sectionCode}} - {{item.sectionName}}</td>
                  <td class="text-center">{{item.tel}}</td>
                  <td class="text-center">{{item.mobile}}</td>
                  <td class="text-center">{{item.approver}}</td>
                  <td class="text-center">
                    <p *ngIf="item.status === 1">ใช้งาน</p>
                    <p *ngIf="item.status === 2">ไม่ใช้งาน</p>
                  </td>
                  <td lass="text-center">
                    <button class="btn btn-primary btn-sm" type="button" tooltip="แก้ไขข้อมูล"placement="top" (click)="onEditUser(item)">
                      <i class="fa fa-edit"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>